<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
    <body>
        {{> header}}
        <p>Go find About yourself :p</p>

        {{> footer}}
    </body>
</html>