<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Maintenace Page</title>
</head>
    <body>
        {{> header}}

        <h3>We'll be right back! </h3>
        <p style="color:red">Website is currently being updated!</p>

        {{> footer}}
    </body>
</html>